.header{
    padding: 4px 0 0 0;
    display: flex;
    .logo{
        width: 128px;
        height: auto;
        margin: 48px auto;
        cursor: pointer;
    }
    .avatar{
        width: 24px;
        height: 24px;
        margin: 67px 60px 0 0;
        cursor: pointer;
    }
}