.conf_footer{
    position: absolute; 
    bottom: 20px; 
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    .footer_text_sec{
        margin: 0 200px 0 200px;
        .sofa_title{
            font-weight: 700;
            font-size: 24px;
        }
        .sofa_brand{
            margin: 10px 0 0 0;
        }
    }
    .btn{
        color: #fff;
        padding: 10px 50px 10px 50px;
        font-size: 15px;
        background-color: #000;
        border-radius: 2px;
        margin: 10px;
    }
}